* {
    box-sizing: border-box;
}

body {
    background: lightblue;
}

#board {
    margin: 2rem;
}

#messageBox, #timeLine, button {
    margin: 0 0 0.5rem 2rem;
    font-size: 1rem;
}


table {
    border: 2px black solid;
    text-align: center;
    font-size: 1.5em;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 1px  black solid;
    background: lightgray;
    box-shadow: inset 0 0 15px 1px grey;
    font-weight: bold;
}

/* mine and flag related */

.flagged {
    color: red;
    font: 50px;
}

.mine {
    background-color: red;
    box-shadow: none;
}

.buriedMine {
    background: lightcoral;            
}

/* colours of revealed numbers */

.black {
    color: black;
    background:white;
    box-shadow: none;
}
.blue	{
    color: blue;
    background:white;
    box-shadow: none;
}
.green {
    color: green;
    background:white;
    box-shadow: none;
}
.red
{
    color: red;
    background:white;
    box-shadow: none;
}
.lotsaMines
{
    color: purple;
    background:white;
    box-shadow: none;
}
.noMines {
    background:white;
    box-shadow: none;
}